.pic{
    background-color: antiquewhite;
    background-image: url('../images/store.png');
    color: white;
    background-size: cover;
}
.pic-center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}